@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{
	height:100%;
	width:100%;
}

body{
	background-color: #0F1011;
	background: #000;
}

.wrapper{
	max-width: 1512px;
	padding: 0 65px;
	margin: 0 auto;
}

@media (max-width:840px){
	.wrapper{ padding: 0 40px; }
}

@media (max-width:500px){
	.wrapper{ padding: 0 20px; }
}